body{
	 background-image: url(images/background.jpg);
	 background-repeat:no-repeat;
	 background-size:cover;
}
#header{
	text-align: center;
	margin: 0 auto;
	background-color: gray;
	color: white;
}

#nav{
	background-color: #333333;

}

#nav ul{
	text-align: center;
}
#nav li {
	display: inline-block;
	margin: 0px 6px 0px;
}
#nav li a {
	color: white;
}

#nav li:hover{
	font-weight:bold;
	transform: scale(1.5,1.5);
}

#header{
	background-color: #333333;
	margin: 0px auto;
}
.div{
	margin:5px auto;
	width: 75%;
	overflow: hidden;
	background-color: #333333;
	border: 1px solid;
	padding: 20px;
}

#div1{
	margin: 0 auto;
	display: inline;
	text-align: center;
	
}

#img{
	height: 250px;
	width: 300px;
	margin: 3px;
	background-image: url(images/corgi.jpg);
	float: left; 
	background-size: cover;
}
#p1{
	margin: 10px;
	display: inline;
	color: white;
	
}


@media all and (max-width: 480px) {
	#img{
		height: 100px;
		width: 150px;
	}
}