body{
	 background-image: url(images/background.jpg);
	 background-repeat:no-repeat;
	 background-size:fill;
}
#header{
	text-align: center;
	margin: 0 auto;
	background-color: gray;
	color: white;
}



#nav ul{
	text-align: center;
}
#nav li {
	display: inline-block;
	margin: 0px 6px 0px;
}
#nav li a {
	color: white;
}

#nav li:hover{
	font-weight:bold;
	transform: scale(1.5,1.5);
}

#header{
	background-color: transparent;
	margin: 0px auto;
}
.div{
	margin:5px auto;
	width: 75%;
	overflow: hidden;
	padding: 20px;
}

#div1{
	margin: 0 auto;
	display: inline;
	text-align: center;
	
}
#imgfb{
	float: center;
	
	
}
#img{
	height: 250px;
	width: 300px;
	margin: 3px;
	background-image: url(images/corgi.jpg);
	float: left; 
	background-size: cover;
}
#p1{
	margin: 10px;
	display: inline;
	color: white;
	
}


@media all and (max-width: 480px) {
	#img{
		height: 100px;
		width: 150px;
	}
	

}

@media all and (min-width: 481px) and (max-width: 767px) {
	#img{
		height: 250px;
		width: 200px;
	}

}

@media all and (min-width: 768px) and (max-width: 992px) {
	#img{
		height: 350px;
		width: 300px;
	}
}
